@charset "ISO-8859-1";
h2
{
	width: 100%;
	text-align: center;
}
.profile
{
	position: absolute;
	right: 0.1%;
	top: 3%;
}
i
{
	padding-top:10px;
	color: red;
}
.comment
{
	width: 48.5%;
	margin: auto;
	padding: 10px;
}
form label
{
	
	display: block;
	padding: 10px 0px;
}
form div
{
	display: flex;
}
textarea
{
	height: 100px;
	width: 400px;
	font-size: 20px;
}
.comment input[type="submit"]
{
	width: 150px;
	height: 35px;
	margin: auto;
	margin-right: 0px;
	border-bottom-style: solid;
	border-radius: 5px; 
}
input[type="submit"]:hover
{
	cursor: pointer;
}
button
{
	width: 150px;
	height: 35px;
	margin: auto 50px;
	border-radius: 5px;
	border-bottom-style: solid;
}
button:hover
{
	cursor: pointer;
}
.content-comment
{
	width: 50%;
	height: 65px;
	margin: 10px auto 0px auto;
	display: block;
	border: solid 1px #000;
	border-bottom: none;
	
	
}

.header
{
	width: 100%;
	padding: 5px 10px;
}
.header input[type="submit"]
{
	width: 150px;
	height: 35px;
	margin: 20px 20px auto auto;
	border-bottom-style: solid;
	border-radius: 5px; 
}

.comments
{
	width: 50%;
	height: 200px;
	margin: auto;
	border: solid 1px #000;
	overflow-y: scroll;
	overflow-x: hidden;
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
}
.comments::-webkit-scrollbar
{
    display: none;
}
.table
{
	width: 80%;
}
